<html ng-app="listaTelefonica">
  <head>
    <meta charset="UTF-8">
    <title>Lista Telefonica</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <style>
      .jumbotron{
        width: 400px;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }
      .table{
        margin-top: 20px;
      }
      .form-control{
        margin-bottom: 5px;
      }
      .selecionado{
        background-color: olive;
      }
      .negrito{
        font-weight: bold;
      }
    </style>
    <script src="lib/angular/angular.js"></script>
    <script>
      angular.module("listaTelefonica", []);
      angular.module("listaTelefonica").controller("listaTelefonicaController", function($scope){
        $scope.app = "Lista Telefonica";
        $scope.contatos = [
          {nome: "Pedro", telefone: "999999999", cor: "blue"},
          {nome: "Ana", telefone: "555555555", cor: "yellow"},
          {nome: "Maria", telefone: "222222222", cor: "red"}
        ];
        $scope.operadoras = [
          {nome: "Oi", codigo: "14", categoria: "Celular"},
          {nome: "Vivo", codigo: "15", categoria: "Celular"},
          {nome: "Tim", codigo: "41", categoria: "Celular"},
          {nome: "GVT", codigo: "41", categoria: "Fixo"},
          {nome: "Embratel", codigo: "41", categoria: "Fixo"}
        ];
        $scope.adicionarContato = function(contato){
          $scope.contatos.push(angular.copy(contato));
          delete $scope.contato;              <!-- esse delete vai servir pra apagar campo ao final do evento -->
          console.log(contato.nome);          <!-- aqui eh soh um teste de impressao no console -->
        };
        $scope.apagarContatos = function (contatos) {
            $scope.contatos = contatos.filter(function (contato) {
              if (!contato.selecttt) return contato;
            });
          };
        $scope.isContatoSelecionado = function(contatos){
          return contatos.some(function (contato){      //some eh true
            return contato.selecttt;
          });
        };
      });
    </script>
  </head>
  <body ng-controller="listaTelefonicaController">
    <div class="jumbotron">
      <!-- <h4 ng-bind="app"></h4>     // essa eh uma forma de imprimir na tela, com ng-bind -->
      <h3>{{app}}</h3>          <!-- essa eh uma outra forma de fazer, com a interpolacao da expressao -->

      <!-- {{contatos}} -->
      <table class="table" ng-show="contatos.length  > 0">
        <tr>
          <th></th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Operadora</th>
          <th></th>
        </tr>
         <tr ng-class="{'selecionado negrito': contato.selecttt}" ng-repeat="contato in contatos">       <!-- ali dentro das chaves quer dizer que as classes de estilo "selecionado" e "negrito" soh serao aplicadas quando contato.selecttt for true, ou seja, quando estiver selecionado -->
          <td> <input type="checkbox" ng-model="contato.selecttt"> </td>
          <td>{{contato.nome}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome}}</td>
          <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
        </tr>
      </table>
      <hr/>
      Eh valido: {{contatoForm.$valid}}<br>
      Eh invalido: {{contatoForm.$invalid}}
      <form name="contatoForm">
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" ng-required="true"/>
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" ng-required="true"/>
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">   <!-- <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras"> -->
          <option value="">Selecione uma operadora</option>
        </select>
      </form>
      <div ng-show="contatoForm.$invalid" class="alert alert-danger">
        Por favor, preencha o nome e o telefone!
      </div>
      <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
      <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-hide="!isContatoSelecionado(contatos)">Apagar Contatos</button>
    </div>
     <!-- <div ng-include="'footer.html'"></div> -->       <!--  essas aspas simples de dentro servem para escapar, senao ele ia buscar esse footer.html como sendo uma variavel, uma propriedade dentro do meu $scope -->
  </body>
</html>
