<html ng-app="listaTelefonica">
  <head>
    <title>Lista Telefonica</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <style>
      .jumbotron{
        width: 400px;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }
      .table{
        margin-top: 20px;
      }
      .form-control{
        margin-bottom: 5px;
      }
      .selecionado{
        background-color: yellow;
      }
      .negrito{
        font-weight: bold;
      }
    </style>
    <script src="lib/angular/angular.js"></script>
    <script>
      angular.module("listaTelefonica", []);
      angular.module("listaTelefonica").controller("listaTelefonicaController", function($scope){
        $scope.app = "Lista Telefonica";
        $scope.contatos = [
          {nome: "Pedro", telefone: "999999999"},
          {nome: "Ana", telefone: "555555555"},
          {nome: "Maria", telefone: "222222222"}
        ];
        $scope.operadoras = [
          {nome: "Oi", codigo: "14", categoria: "Celular"},
          {nome: "Vivo", codigo: "15", categoria: "Celular"},
          {nome: "Tim", codigo: "41", categoria: "Celular"},
          {nome: "GVT", codigo: "41", categoria: "Fixo"},
          {nome: "Embratel", codigo: "41", categoria: "Fixo"}
        ];
        $scope.adicionarContato = function(contato){
          $scope.contatos.push(angular.copy(contato));
          delete $scope.contato;              <!-- esse delete vai servir pra apagar campo ao final do evento -->
          console.log(contato.nome);          <!-- aqui eh soh um teste de impressao no console -->
        };
      });
    </script>
  </head>
  <body ng-controller="listaTelefonicaController">
    <div class="jumbotron">
      <!-- <h4 ng-bind="app"></h4>     // essa eh uma forma de imprimir na tela, com ng-bind -->
      <h3>{{app}}</h3>          <!-- essa eh uma outra forma de fazer, com a interpolacao da expressao -->

      {{contatos}}
      <table class="table">
        <tr>
          <th></th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Operadora</th>
        </tr>
         <tr ng-class="{'selecionado negrito': contato.selecttt}" ng-repeat="contato in contatos">       <!-- ali dentro das chaves quer dizer que as classes de estilo "selecionado" e "negrito" soh serao aplicadas quando contato.selecttt for true, ou seja, quando estiver selecionado -->
          <td> <input type="checkbox" ng-model="contato.selecttt"> </td>
          <td>{{contato.nome}}</td>                       <!--   <td ng-repeat="(key,value) in contato"> -->
          <td>{{contato.telefone}}</td>                   <!-- {{key + ' - ' + value}} -->
          <td>{{contato.operadora.nome}}</td>
        </tr>                                          <!-- </td> -->
      </table>
      <hr/>
      <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
      <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
      <!-- <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras"> -->
      <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
        <option value="">Selecione uma operadora</option>
      </select>
      <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
    </div>
  </body>
</html>
